/* General styles */
:root {
    --default: #2f4f4f;
    --primary: #007bff;
    --secondary: #87ceeb;
    --background: #e6f3ff;
    --spacing-unit: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--default);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

h1,
h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: var(--primary);
    margin: 0;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin: 0;
}

/* Layout */
.container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-grow: 1;
}

/* Components */
.nav-links {
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    color: var(--secondary);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.nav-link:hover {
    color: var(--background);
    background-color: var(--primary);
}

.social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.social-link {
    padding: 1rem;
    border: 1px solid var(--default);
    border-radius: 8px;
    transition:
        background-color 0.3s,
        border-color 0.3s;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
}

.social-link img {
    width: 32px;
    height: 32px;
    transition: filter 0.3s;
}

.social-link span {
    font-size: 1rem;
    color: var(--default);
    transition: color 0.3s;
}

.social-link:hover {
    background-color: var(--primary);
    border-color: var(--secondary);
}

.social-link:hover img {
    filter: brightness(0) invert(1);
}

.social-link:hover span {
    color: var(--background);
}

.email-user::after {
    content: "@";
}

.email-domain::after {
    content: ".";
}

.player-footer {
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    max-width: fit-content;
    margin: 0 auto;
    background-color: var(--background);
    border: 1px solid var(--default);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    backdrop-filter: blur(10px);
}

.player-container {
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.player-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: var(--default);
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.player-button:hover {
    color: var(--primary);
}

.player-text {
    margin: 0 1.5rem;
    color: var(--default);
    font-size: 0.9rem;
    line-height: 1;
}

#pixel-battle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#infinite-canvas-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#infinite-canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#bubble-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.color-picker {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 1px;
}

.color-option {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}

.color-option:hover {
    transform: scale(1.2);
}

@media (max-width: 768px) {
    #pixel-battle-section {
        display: none;
    }

    .container {
        padding: 1rem;
        gap: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .social-links {
        grid-template-columns: 1fr;
    }

    .player-footer {
        padding: 0.5rem 1rem;
    }
}